.navbar-background {
    /* background: rgba(255, 255, 255, 0.25); */
    background: rgba(70, 31, 85, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.navbar-items {
    position: relative;
    padding-bottom: 4px;
}

.navbar-items::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #9333ea;
}

@keyframes width-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.navbar-items:hover:after {
    animation: width-animation 300ms ease-in-out forwards;
}

@keyframes auto-show-animation {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }
}

.show-animation {
    animation: auto-show-animation both;
    animation-timeline: view();
}

@keyframes translate-animation-both {
    0% {
        opacity: 0.8;
        transform: skew(40deg, 10deg);
    }
    50% {
        opacity: 1;
        transform: skew(0deg, 0deg);
    }
}

.journey-animation {
    animation: translate-animation-both ease-in;
    animation-timeline: view();
}

@keyframes animate-skills-card {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skills-card-container {
    animation: animate-skills-card 0.5s both;
    animation-timeline: view(60% auto);
}

/* Journey card container */
@keyframes animate-journey-card {
    from {
        translate: 0 10;
    }

    to {
        translate: 0 0;
    }
}

.journey-card {
    animation: animate-journey-card 1s both;
    animation-timeline: view();
}

@keyframes animate-trivia-card {
    0% {
        translate: 0 10;
    }

    90% {
        translate: 0 0;
    }
}

.trivia-card-container {
    animation: animate-trivia-card both;
    animation-timeline: view();
}